/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px){
    .ed{
        width: 180px !important;
        height: 220px !important;
    }
    .miniScreen{
        display: block;
    }
   
    }
/* Smartphones (portrait) ---------- */
@media screen and (max-width: 320px){
    .ed{
        width: 180px !important;
        height: 220px !important;
    }
    .miniScreen{
        display: none;
    }
    }
/* Smartphones (landscape) ---------- */
@media screen and (min-width: 321px){
    .ed{
        width: 115px !important;
        height: 150px !important;
    }
    .drinkRowName{
        font-size: smaller;
        height: min-content;
        width: min-content;
        white-space: nowrap;
        overflow: scroll;
        margin: 4px 5px 0px 5px;

    }
    .drinkRow{
        overflow: auto;
        white-space: nowrap;
    }
    .miniScreen{
        display: none;
    }
    .miniDrink{
        width: 30px;
        height: 37px;
    }
   }
/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 576px) and (max-width: 1024px){
    .miniScreen{
        display: none !important;
    }
    .ed{
        width: 120px !important;
        height: 150px !important;
    }}
/* Tablets, iPads (portrait) ---------- */
@media screen and (min-width: 771px){
    .miniScreen{
        display: none !important;
    }
    .ed{
        width: 40% !important;
        height: 160px !important;
    }
    .drinkRowName{
        font-size: medium;
        height: 90px;
        width: max-content;
        white-space: nowrap;
        overflow: visible;
    }
    .remainingOunces{
        background-color: 'red';
        border-radius: 25%;
        display: none;
    }}
/* Tablets, iPads (landscape) ---------- */
@media screen and (min-width: 1024px){
    .miniScreen{
        display: none;
    }
    .ed{
        margin-top: 7px;
        width: 41% !important;
        height: 145px !important;
    }
    .drinkRowName{
        font-size: medium;
        height: 80px;
        width: 42px;
        overflow: visible;
    }}
/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px){
    .miniScreen{
        display: none;
    }
    .ed{
        width: 32% !important;
        height: 145px !important;
    }
    .drinkRowName{
        font-size: medium;
        height: 80px;
        width: 42px;
        overflow: visible;
    }}
/* Large screens ---------- */
@media screen and (min-width: 1824px){
    .miniScreen{
        display: none;
    }
    .ed{
        width: 60% !important;
        height: 20px !important;
    }
    .drinkRowName{
        font-size: medium;
        height: 80px;
        width: 42px;
        overflow: visible;
    }}
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }
/* @media screen and (max-width: 1900px){
    .ed{
        width: 160px !important;
        height: 200px !important;
    }
} */
#nutritionfacts { 
    background-color:white; 
    border:1px solid black; 
    padding:2px; 
    border-radius: 5px;
}
#nutritionfacts td { 
    color:black; 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
    font-size:8pt; 
    padding:0; 
}
#nutritionfacts td.header { 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
    font-size:28px; 
    white-space:nowrap; 
}    
#nutritionfacts td.line { 
    float: left;
}            
#nutritionfacts div.label { 
    float:left; 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
}
#nutritionfacts div.headerr { 
    font-family:Arial,Helvetica,sans-serif; 
    font-size:18pt;
    padding: 0; 
    text-align:center; 
    font-weight: bold;
}
#nutritionfacts div.weight { 
    display:inline; 
    font-family:Arial,Helvetica,sans-serif; 
    padding-left:1px; 
}
#nutritionfacts div.dv { 
    display:inline; 
    float:right; 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
}
#nutritionfacts table.vitamins td {  
    font-family:Arial,Helvetica,sans-serif; 
    white-space:nowrap; 
    width:33%; 
}
#nutritionfacts div.line { 
    border-top:1px solid black; 
}
#nutritionfacts div.labellight { 
    float:left; 
    font-family:Arial,Helvetica,sans-serif; 
}
#nutritionfacts .highlighted {
    border:1px dotted grey;
    padding:2px;
}
