.title {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 100;
    font-variant-ligatures: 'normal';
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.labelFont {
    font-family: 'Arial Narrow','Nimbus Sans L', 'sans-serif';
    font-size: 17px;
}
.aFont {
    font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    font-size: 13px;
    letter-spacing: 0.00001ch;
}
.req {
    font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    font-size: 13px;
    letter-spacing: 0.01ch;
    display: inline-block;
    margin-left: 25px;
    color: #34363b
}